
body {
    background-color: #4f6d93;
    background-image: linear-gradient(to bottom, #ffffff, #4f6d93);
    background-repeat: no-repeat;
}
        nav {
    width: 160px;
    float: left;
    padding: 20px;
}
h2 {
    color: #3399CC;
    font-family: Georgia;
    text-shadow: 1px 1px 1px #CCCCCC;
}
dt {
    color: #000033;
}
b {
    color: #5C7FA3;
}
.resort {
    color: #5C7FA3;
}
a {
    text-align: center;
}
h3 {
    font-family: sans-serif;
}
h1 {
    background-image: url(images/sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    color: #FFFFFF;
    height: 60px;
}
header {
    height: 60px;
    text-align: center;
    padding-top: 0px;
    font-family: sans-serif;
    color: #FFFFFF;
    background-color: #000033;
    margin-top:15px;
}
footer {
    background-color: #ffffff;
    margin-left: 190px;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: sans-serif;
}
.resort {
    font-weight: bold;
}
#contact {
    font-size: 90%;
    letter-spacing: normal;
}
ul {
    list-style-image: url(images/marker.gif);
}
main {
    background-color: #ffffff;
    margin-left: 190px;
    padding-left:0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
}

#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    background-color: #90c7e3;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;
}
#homehero {
    background-image: url(images/coasthero.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#yurthero {
    background-image: url(images/yurthero.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#trailhero {
    background-image: url(images/trailhero.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
    nav ul {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.0em;
    
   
}
nav a:link {
    color: #000033;
}
nav a:visited {
    color: #344873;
}
nav a:hover {
    color: #ffffff;
}
nav a {
    text-decoration: none;
    padding: 0;
    font-weight: bold;}
header,
main,
nav,
footer,
section,
article {
    display: block;
}

@media only screen and (max-width 64em) {
    main {
        background-color: #ffffff;
        margin: 0;
    }
    #wrapper {
        min-width: 0;
        width: auto;
        box-shadow: none;
    }
    main {
        margin-left: 0;
    }
    Nav {
        float: none;
        width: auto;
        text-align: center;
        padding: 0.5em;
    }
    nav li {
        display: inline;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-right: 0.75em;
        padding-left: 0.75em;
    }
    #homehero,
    #yurtshero,
    #trailhero {
        margin-left: 0;
        height: 200px;
    }
}
@media only screen and (max-width 37.5em) {
    header {
        padding top: 1em;
    }
    main {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
    }
    h1 {
        font-size: 1.5em;
    }
    nav {
        padding: 0;
    }
    nav li {
        display: block;
        margin: 0;
        border-bottom: 2px;
        border-bottom-color: #330000;
        border-bottom-style: solid;
    }
    #homehero,
    #yurtshero,
    #trailhero {
        background-image: none;
        height: 0;
    } 
}