body {background color: #ffffff; color: #666666; font-family:Arial;}
h1 {background-color: #000033; color: #ffffff;}
nav {background-color: #90C7E3; }
h2 {color: #3399CC;}
dt {color: #000033;}
b {color: #5C7FA3;}
.resort {color:#5C7FA3;}
#contact 
nav {font-weight: bold;}
a {text-decoration: none}
h1 {font-family: Times New Roman;}
h2 {font-family: Georgia;}
h3  {font-family: serif;}
h1 {background-image:url(cs-pacific-trails/images/sunset.jpg); background-repeat: no-repeat;background-position: right; line-height: 400%; text-indent: 1em;}
ul{list-style-image: url(cs-pacific-trails/images/marker.gif);}
footer {font-size: 75%; font-style: italic; text-align: center; font-family: sans-serif; }
.resort {font-weight: bold;}
#contact {font-size: 90%;}














[]